a {
    color: rgb(153, 153, 153);
}

.loading {
    padding: 75% 0px;
}

.main {
    margin: 0;
}

.row {
    flex-direction:column;
    margin: 0;
}

.title {
    margin: 15px 10px;
    font-size: 7.5vw;
}

/*----bar----*/

.bar {
    height: 110px;
    margin: 10px 0;
    background-color: initial;
}

.bar__select {
    font-size: medium;
    margin: 10px;
    padding: 5px;
    width: 95%;
    background-color: rgb(221, 221, 221);
}

/*----block----*/

.block--empty {
    display: none;
}

.block {
    width: 95% !important; 
    height: 200px !important;
    margin: 10px;
}

/*----footer----*/

.footer__text {
    color: rgb(153, 153, 153);
}
