* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: "Microsoft JhengHei";
}

a {
    color: rgb(0, 0, 0);
}

.content {
    width: 100%;
}

/*--------*/

.main {
    margin: 0px 4.3%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px 0px;
    text-align: center;
}

/*----loading----*/

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 20% 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 100px;
}

.loading__text {
    font-size: smaller;
}

.loading__spinner {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    -webkit-animation: loading__spinner 5s infinite linear;
    animation: loading__spinner 5s infinite linear;
}

@-webkit-keyframes loading__spinner {
    0% {
        -webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
    }

    25% {
        -webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
    }

    75% {
        -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
    }

    100% {
        -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
    }
}

@keyframes loading__spinner {
    0% {
        -webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
        transform: perspective(180px) rotateX(0deg) rotateY(0deg);
    }

    25% {
        -webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
        transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
    }

    75% {
        -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
        transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
    }

    100% {
        -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
        transform: perspective(180px) rotateX(0deg) rotateY(360deg);
    }
}

/*----bar----*/

.bar {
    margin: 10px 1%;
    height: 90px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.bar__select {
    margin: 22px 20px;
    padding: 0px 10px;
    width: 25%;
    height: 40px;
    border: 3px rgba(255, 255, 255, 0) solid;
    border-radius: 3px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    font-size: large;
}

.bar__select:focus,
.bar__select:active {
    border: 3px rgb(157, 191, 246) solid;
}

.bar__select>option {
    background-color: rgb(255, 255, 255);
}

/*----title----*/

.title {
    margin: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 38px;
}

.title__text {
    color: rgb(102, 102, 102);
}

/*----block----*/

.block {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0px 1%;
    height: 244px;
    color: rgb(255, 255, 255);
}

.block:hover .block__intro {
    -webkit-animation: 1.8s textSlide;
    animation: 1.8s textSlide;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes textSlide {
    from {
        bottom: -68px;
    }

    to {
        bottom: 5px;
    }
}

@keyframes textSlide {
    from {
        bottom: -68px;
    }

    to {
        bottom: 5px;
    }
}

.block:hover .block__photo {
    -webkit-animation: 1s photoZoomIn;
    animation: 1s photoZoomIn;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes photoZoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes photoZoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.photo__img {
    position: absolute;
    left: 0px;
    z-index: 0;
    max-width: 100%;
    width: 100%;
}

.block__cover {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 0, 0, 0) 71%);
}

.block__intro,
.block__city {
    z-index: 2;
}

.block__city {
    position: relative;
    width: 55px;
    height: 25px;
    background-color: rgb(220, 142, 0);
    text-align: center;
    font-weight: 500;
    font-size: smaller;
    line-height: 25px;
}

.block__city.p {
    line-height: 10px;
}

.block__intro {
    position: absolute;
    bottom: -68px;
    padding: 10px;
}

.intro__town {
    text-align: left;
    font-weight: lighter;
    font-style: italic;
}

.intro__restaurant {
    text-align: left;
    font-size: large;
}

.intro__dash {
    margin: 10px 0px;
    width: 55px;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

.intro__detail {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    width: 100%;
    text-align: left;
    text-overflow: clip;

    -webkit-line-clamp: 2;
}

/*----footer----*/

.footer {
    padding: 10px;
    text-align: center;
}

.footer__text {
    color: rgb(102, 102, 102);
    font-weight: bold;
}