* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: "Microsoft JhengHei";
}

a {
    color: rgb(0, 0, 0);
}

.content {
    width: 100%;
}

/*--------*/

.main {
   margin: 0px 4.3%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin: 30px 0px;
}

 /*----loading----*/

.loading {
    position: absolute;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 20% 0;
}

.loading__text {
    font-size: smaller;
}

.loading__spinner {
    position: relative;
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    -webkit-animation: loading__spinner 5s infinite linear;
    animation: loading__spinner 5s infinite linear;
 }
 
 @-webkit-keyframes loading__spinner {
    0% { 
       -webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
    }
    25% { 
       -webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
    }
    50% { 
       -webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
    }
    75% { 
       -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
    }
    100% { 
       -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
    }
 }
 
 @keyframes loading__spinner {
    0% { 
       transform: perspective(180px) rotateX(0deg) rotateY(0deg);
       -webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
    }
    25% { 
       transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
       -webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
    }
    50% { 
       transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
       -webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
    }
    75% { 
       transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
       -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
    }
    100% { 
       transform: perspective(180px) rotateX(0deg) rotateY(360deg);
       -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
    }
 }

 /*----bar----*/
 
 .bar {
     border-radius: 7px;
     height: 90px;
     background-color: rgb(255, 255, 255);
     text-align: center;
     margin: 10px 1%;
 }
 
 .bar__select {
     color: rgb(0, 0, 0);
     font-size: large;
     margin: 22px 20px;
     padding: 0px 10px;
     width: 25%;
     height: 40px;
     border: 3px rgba(255, 255, 255, 0) solid;
     border-radius: 3px;
     background-color: rgb(238, 238, 238);
 }
 
 .bar__select:focus,
 .bar__select:active {
     border: 3px rgb(157, 191, 246) solid;
 }
 
 .bar__select>option {
     background-color: rgb(255, 255, 255);
 }

/*----title----*/

.title {
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    margin: 30px;
}

.title__text {
    color: rgb(102, 102, 102);
}

/*----block----*/

.block {
    overflow: hidden;
    display: inline-block;
    position: relative;
    /* width: 30.8%; */
    height: 244px;
    color: rgb(255, 255, 255);
    margin: 0px 1%;
}

.block:hover .block__intro {
    -webkit-animation: 1.8s textSlide;
            animation: 1.8s textSlide;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes textSlide{
    from {bottom: -68px;}
    to {bottom: 5px;}
}

@keyframes textSlide{
    from {bottom: -68px;}
    to {bottom: 5px;}
} 

.block:hover .block__photo {
    -webkit-animation: 1s photoZoomIn;
            animation: 1s photoZoomIn;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes photoZoomIn{
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

@keyframes photoZoomIn{
    from {transform: scale(1);}
    to {transform: scale(1.05);}
} 

.photo__img {
    z-index: 0;
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 0px;
}

.block__cover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255,0,0,0) 71%);
    z-index: 2;
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.block__intro,
.block__city {
    z-index: 2;
}

.block__city {
    position: relative;
    font-size: smaller;
    font-weight: 500;
    background-color: rgb(220, 142, 0);
    width: 55px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.block__city.p {
    line-height: 10px;
}

.block__intro {
    position: absolute;
    bottom: -68px;
    padding: 10px;
}

.intro__town {
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

.intro__restaurant {
    font-size: large;
    text-align: left;
}

.intro__dash {
    margin: 10px 0px;
    width: 55px;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

.intro__detail {
    text-align: left;
    width:100%;
    overflow: hidden;
    text-overflow: clip; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
} 

/*----footer----*/

.footer {
    padding: 10px;
    text-align: center;
}

.footer__text {
    color: rgb(102, 102, 102);
    font-weight: bold;
}
